<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>Angular Lab 1</title>
</head>
<body>

  <div ng-controller="FormController as form">
    <div class="formbox">
      <h2>TODO List</h2>
      <p>A place to store the things you have to do!</p>
      <input type="text" placeholder="Filter your to-dos" ng-model="taskFilter" id="filter">
      
      <ol>
        <li ng-repeat="task in form.tasks | filter: taskFilter track by $index">{{ task }}<i class="material-icons md-18" ng-click="form.removeTask($index)">clear</i></li>
      </ol>

      <input type="text" placeholder="Add your to-do" ng-model="taskInput" id="addInput">

      <button ng-click="form.addTask(taskInput)" id="submit">Add</button>


    </div>
  </div>

  <script src="lib/angular.min.js"></script>
  <script src="scripts/module.js"></script>
  <script src="scripts/controller.js"></script>
</body>
</html>